@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
#notification-center {
  position: absolute;
  background: rgba(42,45,50,0.85);
  z-index: 101;
  color: rgba(250,251,255,0.95);
  font-family: "Lato";
}
.noti-p-wrap{
    height: 100%;
}
.cancle-wrapper {
  background: none repeat scroll 0 0 #050500;
  cursor: pointer;
  height: 36px;
  line-height: 31px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 10px;
  width: 36px;
}
.close-icon {
  color: #666;
  display: inline-block;
  font-size: 35px;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all .14s ease-in-out;
  transition: all .14s ease-in-out;
}
.cancle-wrapper:hover .close-icon {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.notification-text{
    font-size: 16px;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
}
.def-icon-wrapper{
  background: none repeat scroll 0 0 #050500;
  float: left;
  height: 100%;
  text-align: center;
  width: 90px;
  display: table;
}
.def-icon {
  font-size: 40px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}
.notification-wrapper{
    padding: 0px 20px;
    height: 100%;
    overflow: hidden;
    display: table;
}
#notification-center.error .def-icon::before{
    content : 'X';
    color:#dd0017;
}
#notification-center.success .def-icon::before{
    content : 'i';
    color:#fff;
}
.hide{
  display: none;
}
